.jumbotron-with-nav {
    background: url("../imgs/bg.png");
    background-size: cover;
    background-position: center;
    padding-top: 1.5rem;
    padding-left: 1rem;
}

.jumbotron {
    background-color: transparent;
    color: white;
}

.jumbotron .btn-secondary-outline {
    border-color: white;
    color: white;
}

.features-summary {
    text-align: center;
}

.feature {
    margin-top: 4rem;
}

.joinus {
    margin-top: 2rem;
    text-align: center;
}

footer {
    margin-top: 2rem;
    text-align: center;
}

