.jumbotron-with-nav {
    background: url("../imgs/bg.png");
    background-size: cover;
    background-position: center;
}

.jumbotron {
    background-color: transparent;
    color: white;
}

.jumbotron .btn-secondary-outline {
    border-color: white;
    color: white;
}

.feature {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
